/*背景遮罩*/
.cover {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

/*内容*/
.content {
    width: 500px;
    margin: 200px auto;
    background-color: white;
}

/*标题*/
.title {
    padding: 30px;
    border-bottom: 1px solid black;
}
